name: Deploy API EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Build API
        run: mvn clean package -DskipTests

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.AWS_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          JAR_LOCAL=target/lumilivre-0.0.1-PROD.jar
          JAR_REMOTE=/home/ec2-user/api/lumilivre-0.0.1-PROD.jar
          BACKUP_REMOTE=/home/ec2-user/api/lumilivre-0.0.1-PROD-backup.jar

          # Copiar .jar
          scp -o StrictHostKeyChecking=no $JAR_LOCAL ec2-user@100.27.206.216:/home/ec2-user/

          # Executar comandos na EC2 inline
          ssh -o StrictHostKeyChecking=no ec2-user@100.27.206.216 " \
            if [ -f $JAR_REMOTE ]; then mv $JAR_REMOTE $BACKUP_REMOTE; fi && \
            mv /home/ec2-user/lumilivre-0.0.1-PROD.jar $JAR_REMOTE && \
            sudo systemctl stop lumilivre.service && \
            sudo systemctl start lumilivre.service \
          "
